@use 'colors'

.robots
  position: relative
  background-color: colors.$mainOrange
  &::before
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 40px
    background-color: colors.$mainRed

  &__article
    padding-top: 20px
    padding-bottom: 20px

  &_nav
    position: relative
    z-index: 1
    padding-top: 10px
    padding-bottom: 10px
    min-height: 40px
    background-color: colors.$mainRed
    color: colors.$mainWhite
    &__list
      display: flex
      margin: 0 auto
      max-width: 1420px
    &__item
      &:not(:last-child)
        margin-right: 15px
  &__sensors
    display: flex
    justify-content: space-between
