<section class="history_reflective_sensor">
  <div class="history_reflective_sensor_contianer">
    <h3 class="history_reflective_sensor_title">Reflective sensors history</h3>

    </ul>
  </div>
</section>