<section id="about" class="section section__about">
    <div class="about__container container">
        <h2 class="about__title">Our team</h2>
        <p class="about__text">We are team of 7 poeple. Started that project as 1st year computer science students on
            <time datetime="2025-11-14">
                November 16 2025 </time>
        </p>
        <p class="about__text">Team members: </p>
        <ul class="about__members list">
            <li class="about__member about-member">
                <span class="about-member__fullname">Vladyslav Pernarovskyi</span>
                <p class="about-member__text text">Team Leader, project structure; reflection Calibration, start and end
                    of
                    secvense ;Web app (node.js and fronted)</p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Carolina Magalhaes </span>
                <p class="about-member__text text">Vloger, kind person</p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Haosen Wang (Sunny)</span>
                <p class="about-member__text text">God in human form, cool coder with; HC-12 communtication, movemnet;
                    Web
                    app (pyton and sql);</p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Parniyan Ahmadi (Aria)</span>
                <p class="about-member__text text">Line maze and line follower logic</p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Nicolo Marras</span>
                <p class="about-member__text text">chill guy; Documanets and porfolio</p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Francisco Pimentel</span>
                <p class="about-member__text text">big potential. Good future; Additional stuff, girpper, sonar,
                    avoidence.
                    Physical maze </p>
            </li>
            <li class="about__member about-member">
                <span class="about-member__fullname ">Uraib Shahid</span>
                <p class="about-member__text text">Documents master. Physical maze</p>
            </li>
        </ul>
    </div>
</section>
<section></section>