<section class="reflective_sensor">
    <div class="reflective_sensor__contianer container">
        <h2 class="reflective_sensor__title">Reflective sensors</h2>
        <span class="reflective_sensor__robot_name"></span>
        <ul class="reflective_sensor__list list">
            <% for (item in sensors) {%>
                <li id="reflective_sensor__id<%= item %>" class="reflective_sensor__item">
                    <div class="reflective_sensor__graph">|</div>
                    <div class="reflective_sensor__block">
                        <span class="reflective_sensor__value reflective_sensor__line_status<%= currentStatus[item] %>">
                            <%= sensors[item] %>
                        </span>
                        <p class="reflective_sensor__name">
                            A<%= item %>
                        </p>
                    </div>
                </li>
                <% }; %>
        </ul>
    </div>
</section>